<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exemplos de cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- card 1 -->
  <ion-card>
    <img src="../../assets/css3.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Linguagem de estilos</ion-card-subtitle>
      <ion-card-title>CSS3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      CSS3 é a terceira mais nova versão das famosas Cascading Style Sheets, onde se define estilos para seu projeto web.Com efeitos de transição, imagem, imagem de fundo/Background e outros, que dão um estilo novo e elegante a seus projetos web.Ou em todos os aspectos de design do layout da página.
    </ion-card-content>
  </ion-card>
  <!-- card 2 -->
  <ion-card>
    <img src="../../assets/html5.png" />
    <ion-card-header>
      <ion-card-subtitle>Linguagem de marcação de texto</ion-card-subtitle>
      <ion-card-title>HTML5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      HTML5 é uma linguagem de marcação para a World Wide Web e é uma tecnologia chave da Internet, originalmente proposto por Opera Software. É a quinta versão da linguagem HTML.
    </ion-card-content>
  </ion-card>
  <!-- card 3 -->
  <ion-card>
    <img src="../../assets/javascript.png" />
    <ion-card-header>
      <ion-card-subtitle>Linguagem de programação</ion-card-subtitle>
      <ion-card-title>JavaScript</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multi-paradigma. Juntamente com HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web.
    </ion-card-content>
  </ion-card>
</ion-content>
